<div class="col-md-6 dept-container">
  <h2 style="margin: auto"> Dept Details</h2>
  <button class="btn btn-danger" style="width:100px" (click)="addDept()"> Add Dept</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">DeptId</th>
      <th>Dept name</th>
      <th>ManagerId</th>
      <th>LocationId</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dept of departments">
      <td class="hidden">{{dept.departmentId}}</td>
      <td>{{dept.departmentName}}</td>
      <td>{{dept.managerId}}</td>
      <td>{{dept.locationId}}</td>
      <td><button class="btn btn-success" (click)="deleteDept(dept)"> Delete</button>
        <button class="btn btn-success" (click)="editDept(dept)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
