<div class="right">
    <div id="right-column" class="usd">
      <article>
        <header>
          <h3>US Dollars</h3>
        </header>
        <div class="two-col">
            <div class="col1">
                <label for="field1">USD:</label>
                <input id="field1" name="field1" type="text" placeholder="Enter value in USD" [(ngModel)] = 'usdInput'>
            </div>
        
            <div class="col2">
                <label for="field2">YEN</label>
                <input id="field2" name="field2" type="text" placeholder="Converted value in Yen" [(ngModel)] = 'convertedValue' readonly=true>
            </div>
        </div>
      </article>
    </div>
  </div>
  